/* Estilizações globais */

body{
    background-color: #f7f7f7;
    margin: 0px;
    margin-top: 60px;
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    gap: 60px;
    justify-items: center; /*Centraliza na horizontal todos os itens */
    
}

img {
    max-width: 100%;
    display: block; /* faz com que o elemento se comporte como um block */
}
a{
    text-decoration: none;
}

p, h1, h2, h3 {
    margin: 0;
}

p{
    font-size: 20px;
}

/* Estilização do menu  */

.menu{
     display: flex; /*garante que os links sempre vão estar um ao lado do outro */
     gap: 20px;
     justify-content: center;
     align-self: center;

    

}
.menu a {
    text-transform: uppercase;
    background-color: #fff;
    padding: 15px 30px;
    color: #000;
    border-radius: 10px;
}
.menu a:hover{
    background-color: #9353ff;
    color: #f7f7f7;

}

/* Estilização do conteúdo */


.conteudo {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

/* estilização da introdução */
.introducao{
    display: grid;
    text-align: end;
    align-content: center;
    padding: 40px;
    background-color: #fff;
    gap: 20px;
    justify-items: end;
}

.botao{
    background-color: #9353ff;
    padding: 15px 30px;
    border-radius: 10px;
    color: #ffF;
    text-transform: uppercase;
}

.botao:hover{
    background-color: #A9FF53;
    color: #000;
}

.subtitulo{
    text-transform: uppercase;
    font-size: 64px;
    text-align: end;
    color: #bbb2b27c;
    padding: 40px;
    align-self: center;
}
.vantagens{

    background-color: #fff;
    padding: 40px;


}
.vantagens-item{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    padding: 20px;
}
.vantagens-item p{
    grid-column: 2;
}
/* estilização do footer */
.rodape{
    background-color: #fff;
    text-align: center;
    padding: 40px;
    width: 95%;
    
}
